@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* css reset */
/* ///////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global style */
/* ///////////////////////// */
body {
    background-color: #fff;
    font-family: 'Quattrocento Sans', Arial,  sans-serif;
font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

/* helpers */
/* //////////////////////////////// */
.list-reset {
    list-style-type: none;
    text-decoration: none;
}

/* Layout */
/* //////////////////////////////////// */
.main-header .desktop {
    display: none;
}


.main-header .mobile {
text-align: center;
}

/* styling mobile nav */

.topnav #myLinks {
    display: none;
}

.topnav #myLinks a {
    display: block;
    margin: 0 auto;
}

/* pading  navigation menu link*/

.topnav a {
        color:#000;
        font-size: 17px;
        padding-top: 9px;
        display: inline-block;
      }

      .topnav a.icon {
       padding-top: 9px;
        margin-top: 20px;
        width: 36px;
        height: 34px;
        background-color: #ddd;
        border-radius:6px;
        border: transparent;
        outline: none;
      }

      /*  styling main title*/

      .main-title {
        text-align: center;
        margin-top: 66px;
      }
      
      .main-title .main-title__heading {
        font-size: 44px;
        color: #000;
        font-family: Alegreya Sans, Arial, Helvetica, sans-serif;
        font-weight: 500;
      }

      .main-title .main-title__owner {
        color: #9c9c9c;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-top: 20px;
        margin-bottom: 75px;
      }

      /* main content */

      .main-content {
       margin: 0 10px;
      }

      .main-content .main-content__heading {
       border-top: 1px solid #9c9c9c;
      }

      .line {
        width: 40px;
        border-top: 3px solid #9c9c9c;
      }

      .main-content {

      }

